/* Write your code here: */
h1 {
    color: blueviolet;
}
h2 {
    color: blueviolet;
}
.done{
    color: red;
}
.list{
    color: blue;
}
.list .done{
    color: green;
}

ul p.done {
    color: black;
    font-size: 0.5rem;
}