/* Don't change the existing CSS. */

#outer-box{
  background-color: rgb(158, 43, 158);
  padding: 10px;
}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.inner-box{
  background-color: red;
}

.white-text{
  color: white;
}