
*{
    margin:0;
    padding:0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.flag {
    width: 600px;
    height: 400px;
    background-color: rgb(160, 5, 5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flag-text{
    font-size: 60px;
    position: absolute;
    top: 150px;
}
.blue{
    background-color: rgb(20, 20, 98);
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    background-color: white;
    color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.cir-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
}